.plop-album {
  margin: 2em 0;
}

.album-viewer {
  display: block;
}

.album-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-photo {
  max-width: 100%;
  height: auto;
  display: block;
}

.album-caption {
  margin-top: 1em;
  text-align: center;
  font-style: italic;
}

.album-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.album-btn {
  padding: 0.25em 1em;
  cursor: pointer;
  border: none;
  line-height: 1.2;
}

.album-btn:hover:not(:disabled) {
  background-color: $colorLinkHover;
}

.album-counter {
  min-width: 5em;
  text-align: center;
}
