@import "./core/typography";

.plus-party {
  button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
    float: right;
  }

  textarea {
    width: 100%;
    height: 8em;
  }

  li {
    list-style-type: none;
    text-align: right;
  }

  .total {
    text-align: right;
    margin-bottom: 1em;
    font-size: 120%;
    border-top: 2px solid black;
  }

  .total,
  li {
    font-family: $codeFont;
  }
}
