@import "core/color";

section.project {
  padding: 0.5em;
  margin-bottom: 1em;
  h2 {
    margin-top: 0;
  }
  &:nth-child(even) {
    background-color: $colorEvenRow;
  }
  &:nth-child(odd) {
    background-color: $colorOddRow;
  }
}

img.screenshot {
  border: 2px dashed black;
}
