@import "core/color";

article.talk {
  padding-left: 0.5em;
  h2 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1em;
    margin-top: 0;
  }
  &:nth-child(even) {
    background-color: $colorEvenRow;
  }
  &:nth-child(odd) {
    background-color: $colorOddRow;
  }
}
