@import "core/reset";
@import "core/color";
@import "core/typography";
@import "core/base-typography";
@import "core/layout";

body {
  background-color: $colorPrimaryBackground;
  color: $colorPrimary;
}
button {
  background-color: $colorCodeBackground;
  color: $colorSiteHeader;
  border-radius: 0.4em;
}
button:focus {
  outline: none;
}
button:disabled {
  color: $colorPrimaryBackground;
  border: none;
}
blockquote {
  background-color: $colorCodeBackground;
  padding: 0.5em 1em;
}
a {
  color: $colorLink;
}
a:hover {
  color: $colorLinkHover;
  text-decoration: none;
}
em {
  font-style: italic;
}
h1,
h2,
h3 {
  color: $colorHeader;
}
strong {
  font-weight: bold;
}
li {
  margin-left: 2em;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
code,
pre {
  background-color: $colorCodeBackground;
  color: $colorCode;
}
code {
  padding: 0 0.2em;
}
pre {
  margin: 1em 0;
  overflow: auto;
  padding: 1em;
}
.clear {
  clear: both;
}
.none {
  display: none;
}
.content.navOpen {
  opacity: 0.5;
}

@import "home";
@import "home-typography";
@import "career";
@import "contact";
@import "talks";
@import 'core/blog/blog-typography';
@import 'core/blog/create-post';
@import 'core/blog/post-list';
@import 'core/blog/view-post';

// TODO @import "./plus-party/*";
@import "js-debug";
