@import "typography";

html {
  font-size: 18px;
}

body {
  font-family: $bodyFont;
  line-height: 1.8em;
}

p {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

h1,
h2,
h3 {
  font-family: $headerFont;
  margin: 1em 0;
  font-weight: bold;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 120%;
}

code,
pre {
  font-family: $codeFont;
  line-height: 1.1em;
}

figcaption {
  font-weight: bold;
}
