$colorPrimaryBackground: #fff;
$colorPrimary: #000000;
$colorLink: $colorPrimary;
$colorLinkHover: #555;
$colorLinkHoverBackground: $colorPrimaryBackground;
$colorCodeBackground: #c8d7e4;
$colorHeader: #000000;
$colorCode: #000000;
$colorSiteHeader: #000000;
$colorSiteHeaderBorder: $colorLinkHover;
$colorEvenRow: #eee;
$colorNavCurrent: $colorCodeBackground;
$colorFooter: #cccccc;
