// theme inspired by random color contrasts
// https://botsin.space/@randomColorContrasts/112856275726324410
$colorPrimaryBackground: #3d95d6; // curious blue
$colorPrimary: #0a1122; // black pearl
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 25%);
$colorLinkHoverBackground: $colorPrimaryBackground;
$colorCode: lighten($colorPrimary, 20%);
$colorCodeBackground: $colorPrimaryBackground;
$colorCodeBlock: $colorPrimaryBackground;
$colorCodeBlockBackground: $colorPrimary;
$colorHeader: $colorPrimary;
$colorSiteHeader: $colorPrimary;
$colorSiteHeaderBorder: $colorPrimary;
$colorOddRow: lighten($colorPrimaryBackground, 30%);
$colorEvenRow: lighten($colorPrimaryBackground, 10%);
$colorNavCurrent: lighten($colorPrimaryBackground, 40%);
$colorNavButton: $colorPrimary;
$colorFooter: lighten($colorPrimaryBackground, 30%);
$colorContactLink: lighten($colorPrimaryBackground, 40%);
