@import "color";
@import "position";
@import "typography";

nav {
  font-size: 90%;
}

.navMenuButton {
  @include top-right();
  margin-right: 5px;
  border: none;
  background-color: $colorPrimaryBackground;
  color: $colorNavButton;
  font-size: 48px;
  font-weight: normal;
  padding: 0;
  line-height: 0.8em;

  &:hover {
    cursor: pointer;
  }
}

nav.site {
  margin-left: 1vw;
  margin-top: 2vw;

  a {
    display: block;
    line-height: 1.6em;
    text-decoration: none;

    &.current {
      color: $colorNavCurrent;
      font-weight: bold;

      &:before {
        content: "\232a\00a0";
      }
    }
  }

  .close {
    display: none;
    border: none;
    background-color: $colorPrimaryBackground;
    cursor: pointer;
    @include top-right();
  }

  section a {
    margin-left: 1.2rem;
  }

  &.open {
    @include top-right();
    background-color: $colorPrimaryBackground;
    margin: 0;
    $b: 0.2em solid $colorCodeBackground;
    border-left: $b;
    border-bottom: $b;
    padding: 0 1em 1em;

    .close {
      display: inline-block;
      font-size: 25px;
    }
  }
}

.navigationHorizontal section {
  float: left;
  margin-right: 2rem;

  a {
    margin-left: 0;
  }
  //http://stackoverflow.com/a/7817313/266795
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
