$headerFont: "Julius Sans One", sans-serif;
$codeFont: Inconsolata, monospace;

/*

I am not dealing with font size insanity. Here is the deal.
The main body/content font size is zero
Font sizes increase/decrease relative to that with simple sequential integers:
-2, -1, 0, 1, 2, 3, 4, 5
Each one is "a bit" larger than the previous as defined here
I generally only need h1-h3,
so h3 should be size 1 (just a bit larger than normal text),
h2 should be size 2,
and h1 should be size 3
Use REM units for fanciness but also include pixels for unsupported browsers
http://snook.ca/archives/html_and_css/font-size-with-rem

UPDATE: 2014-03-02 rems cause glitches with Chrome. Ditching.

*/
@mixin font-size($size, $ratio: 1.5) {
  $pixels: if($size < -1, 12px, 12px);
  $pixels: if($size == -1, 14px, $pixels);
  $pixels: if($size == 0, 20px, $pixels);
  $pixels: if($size == 1, 24px, $pixels);
  $pixels: if($size == 2, 28px, $pixels);
  $pixels: if($size == 3, 32px, $pixels);
  $pixels: if($size == 4, 36px, $pixels);
  $pixels: if($size == 5, 48px, $pixels);
  $pixels: if($size > 5, 60px, $pixels);
  font-size: $pixels;
  line-height: $pixels * $ratio;
}
