@import "../typography";
@import "../color";

#subscribe {
  display: block;
}

.posts {
  margin-top: 2em;
}

.post {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  border-bottom: 1px dashed $colorPrimary;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 1em;

  &:last-child {
    border-bottom: none;
  }
}

.postTitle {
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;

  &:hover {
    text-decoration: underline;
  }
}

.postDate {
  width: 100%;
  text-align: center;
  font-size: 90%;
}
