<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {% set title = "Peter Lyons" %}
    {% if page.title is defined and page.title -%}{% set title = page.title %}{%- endif -%}
    {% if section.title is defined and section.title -%}{% set title = section.title %}{%- endif -%}
    {{ title }} | Peter Lyons
  </title>
  <meta name="description" content="Peter Lyons: Cyber Lumberjack">
  <meta name="keywords" content="peter lyons, pete lyons, web development, node.js, developer, coder, freelance, consultant, boulder, colorado, startups, saxophone, oberlin">
  <meta name="author" content="Peter Lyons">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block style %}
  <link rel="stylesheet" href="/screen.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata%7CJulius+Sans+One">
  {% endblock style %}
  <link rel="alternate" type="application/atom+xml" href="/rss.xml" title="{{ config.extra.blog_title }}">
  <link href="/favicon.png" type="image/png" rel="icon">
  <link rel="author" type="text/plain" href="/humans.txt">
  {#
    <link rel="openid2.provider openid.server" href="https://open.login.yahooapis.com/openid/op/auth">
    <link rel="openid2.local_id openid.delegate" href="https://me.yahoo.com/myusername">
  #}
  {% block opengraph -%}
  {# fallback default description #}
  {% set description = "Staff Engineer, Back End" %}
  {% if page.description is defined and page.description -%}{% set description = page.description %}{%- endif -%}
  {% if section.description is defined and section.description -%}{% set description = section.description %}{%- endif -%}

  {# fallback default image #}
  {% set image = "https://live.staticflickr.com/65535/53715068120_7b864e2188_k_d.jpg" %}
  {% if page.extra.image is defined and page.extra.image -%}{% set image = page.extra.image %}{%- endif -%}
  {% if section.extra.image is defined and section.extra.image -%}{% set image = section.extra.image %}{%- endif -%}
  <!-- Twitter -->
  <meta name="twitter:site" content="@focusaurus">
  <meta name="twitter:creator" content="@focusaurus">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{image|safe}}">
  <meta name="twitter:site" content="@focusaurus">

  <!-- Facebook -->
  <meta property="og:url" content="{{current_url|safe}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="{{image|safe}}">
  {% endblock opengraph -%}
</head>

<body>
  <button class="navMenuButton">&equiv;</button>
  {%- include "navigation.html" -%}
  <div class="content">
    <header>
      <h1><a href="/">Peter Lyons</a></h1>
    </header>
    {% block body %}{% endblock body %}
    <footer class="navigationHorizontal" role="contentinfo">
      {%- include "navigation.html" -%}
    </footer>
    <footer class="license" role="contentinfo">
      <p>This work is licensed under a<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">&nbsp;Creative Commons Attribution-ShareAlike 3.0 Unported License.</a></p>
    </footer>
  </div>
  {% block scripts %}
  <script type="module" async>import navigationStart from "/navigation.js";navigationStart();</script>
  {% endblock scripts %}
</body>
</html>
