{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="/plus-party.css">
{% endblock style %}
{% block body %}
<h1>{{ page.title }}</h1>
{{ page.content | safe }}
<div class="plus-party-container"></div>
<img src='/images/clue_bullets.png' alt='One plus two plus two plus one.' />
{{ macros::youtube(id="O5ROhf5Soqs") }}
{% endblock body %}
{% block scripts %}
<script src="/plus-party.js"></script>
<script>
  Elm.PlusParty.embed(document.querySelector(".plus-party-container"));
  new ClipboardJS("#copy-total"); // eslint-disable-line no-new
</script>
{{ super() }}
{% endblock scripts %}
