{% extends "layout.html" %}
{% block body %}
<article>
  <h1>{{ page.title | safe }}</h1>
  <div class="date">{{ page.date | date(format="%B %d, %Y")  }}</div>
  {{ page.content | safe }}
</article>
<nav class="blog">
  <a class="blogIndex" href="/{{ page.components[0] }}/"> back to blog index</a>
  <ul>
    {% if page.earlier %}
    <li>Previous page <a class="previous" href="/{{ page.components[0] | safe }}/{{ page.earlier.slug | safe }}">{{ page.earlier.title }}</a></li>
    {% endif %}
    {% if page.later %}
    <li>Next page <a class="previous" href="/{{ page.components[0] | safe }}/{{ page.later.slug | safe }}">{{ page.later.title }}</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock body %}
{% block scripts %}
{{ super() }}
{% endblock scripts %}
