{% extends "layout.html" %}
{% block body %}
<article>
  <h1>{{ page.title | safe }}</h1>
  <div class="date">{{ page.date | date(format="%B %d, %Y")  }}</div>
  {{ page.content | safe }}
</article>
<nav class="blog">
  <a class="blogIndex" href="/{{ page.components[0] }}/"> back to blog index</a>
  <ul>
    {% if page.earlier %}
    <li>Previous page <a class="previous" href="/{{ page.components[0] | safe }}/{{ page.earlier.slug | safe }}">{{ page.earlier.title }}</a></li>
    {% endif %}
    {% if page.later %}
    <li>Next page <a class="previous" href="/{{ page.components[0] | safe }}/{{ page.later.slug | safe }}">{{ page.later.title }}</a></li>
    {% endif %}
  </ul>
</nav>
<button id="toggleComments">[+Show Disqus Blog Comments]</button>
<section id="comments" class="none">
  <div id="disqus_thread"></div>
  <script> const disqus_shortname = "peterlyons-problog"; </script>
  <script>
    /*** RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document,
s = d.createElement('script');
s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{% endblock body %}
{% block scripts %}
{{ super() }}
<script>
  ;(function iife() {
  function toggleComments(event) {
    if (event) {
      event.preventDefault();
    }
    const classList = document.querySelector("#comments").classList;
    const hidden = classList.contains("none");
    const newText = hidden ? "[- Hide Comments]" : "[+Show Disqus Blog Comments]";
    document.querySelector("#toggleComments").textContent = newText;
    if (hidden) {
      classList.remove("none");
    } else {
      classList.add("none");
    }
  }

  document.querySelector("#toggleComments").addEventListener(
    "click", toggleComments);
  })();
</script>
{% endblock scripts %}
